<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/Images/1.jpg" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/Images/2.jpg" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/Images/3.jpg" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/Images/4.jpg" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/Images/5.jpg" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/Images/6.jpg" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/Images/7.jpg" class="item">
      </ng-template>
    </ngb-carousel>
  </div>
</section>
